article {
  position: relative;
  top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .our-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

article .our-service .our-service-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 45px;
}

article .our-service .our-service-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 45px;
}

article .our-service .our-service-child div div {
  width: 370px;
  height: 386px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  -webkit-box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article .our-service .our-service-child div div p:nth-child(1) {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

article .our-service .our-service-child div div p:nth-child(2) {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

article p:nth-child(1) {
  font-family: "DM Sans" , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 30px;
}

article p:nth-child(2) {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

article .peoples-area .peoples-area-child-first, article .peoples-area .peoples-area-child-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .peoples-area .peoples-area-child-first .peoples-area-first-background, article .peoples-area .peoples-area-child-first .peoples-area-second-background, article .peoples-area .peoples-area-child-second .peoples-area-first-background, article .peoples-area .peoples-area-child-second .peoples-area-second-background {
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 37px;
}

article .peoples-area .peoples-area-first-text span:nth-child(1) {
  width: 582px;
  height: 110px;
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
}

article .peoples-area .peoples-area-first-text span:nth-child(2) {
  width: 579px;
  height: 130px;
}

article .peoples-area .peoples-area-first-text span:nth-child(2) p {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

article .peoples-area .peoples-area-first-text .readmore {
  width: 129px !important;
  height: 31px !important;
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  border-radius: 4px;
}

article .peoples-area-child-second {
  position: relative;
  top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.slider-container {
  position: relative;
  top: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-container .slider-span {
  text-align: center;
  margin-bottom: 40px;
}

.slider-container .slider-span .our-team-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
}

.slider-container .slider-span .our-team-text {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.slider-container .slider-container-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-container .slider-container-child button {
  height: 80px !important;
}

.slider-container .slider-container-child .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 35px;
}

.slider-container .slider-container-child .slider .item {
  width: 270px;
  height: auto;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  -webkit-box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.slider-container .slider-container-child .slider .item p:nth-child(1) {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}

.slider-container .slider-container-child .slider .item p:nth-child(2) {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slider-container .slider-container-child .slider .item .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider-container .slider-container-child .slider .item .icons i {
  cursor: pointer;
}

.search {
  position: relative;
  top: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1170px;
  height: 295px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0145)), to(rgba(255, 255, 255, 0.02)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
  -webkit-box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
}

.search .search-child {
  position: relative;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search-child span .search-text-one {
  font-family: "DM Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #FFFFFF;
}

.search .search-child span .search-text-two {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.search .search-child .form-set {
  width: 860px;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0348)), to(rgba(255, 255, 255, 0.048)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
  -webkit-box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .search-child .form-set form div input {
  margin-left: -15px;
  width: 480px;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0348)), to(rgba(255, 255, 255, 0.048)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
  -webkit-box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
  border: none;
  color: white;
}

.search .search-child .form-set form div ::-webkit-input-placeholder {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
}

.search .search-child .form-set form div :-ms-input-placeholder {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
}

.search .search-child .form-set form div ::-ms-input-placeholder {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
}

.search .search-child .form-set form div ::placeholder {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.9;
}

.search .search-child .form-set button {
  width: 196px;
  height: 60px;
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  opacity: 0.9;
  border-radius: 70px;
  border: none;
}
/*# sourceMappingURL=article.css.map */